body
{
background-image:url('/images/bg.jpg');
background-color:#cccccc;
background-size: 100%;

} 
p{

	background-color: blue;
}
.todoInput
 {
        height:3em;
        width: 100%;
        font-size: 2.4em;
        font-family: inherit;
        line-height: 2.5em;
        border: 0;
        outline: none;
        color: inherit;
        border: 1px solid #999;
        box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
        background: rgba(0, 0, 0, 0.02);
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        font-smoothing: antialiased;
}

