.navbar-brand {
  padding: 9px 15px;
  vertical-align: text-top;
}
.jumbotron
{
	margin-top:50px;
}
ul
{
    list-style-type: none;
}

.progress{
  
  float:right;
  position:absolute;
  right:3px;
  bottom:3px;
  margin-bottom:0;
}
.progress.vertical {

    width: 15px;
    height: 100px;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}