<h1>TODO App</h1>

Awesome todo app. 
<a class="btn btn-primary" href="<%= tasks_path %>">Get Started</a>

<p>
  <% if user_signed_in? %>
    <%= link_to "Logout", destroy_user_session_path, :method => 'delete'  %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %> |
    <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
</p>
