<div class = 'container'>
	<div class = 'jumbotron'>
		<h1>SwiftTasks</h1>
    Become more productive by using our sticky note todo app that helps you plan better by estimating how much you can get done.
    <br/>
		<a class="btn btn-primary" href="/guest">Get Started</a>
</div>

 <script type="text/javascript">
   var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
   rumbleBannerBackgroundColor = "#161616";
   rumbleBannerTextColor = "#b0b0b0";
   rumbleBannerLinkColor = "#ffffff";
   rumbleBannerPlacement = "bottom";
 </script>
 <script src="http://s0.railsrumble.com/banner.js" type="text/javascript"></script>